<launch>
    <!-- 定义一个参数用来控制是否启动 RViz. 默认不启动 -->
    <arg name="use_rviz" default="false" />
    <!-- 激光雷达 -->
    <node pkg="double_wedge_driver" type="double_wedge_driver_test_lidar" name="double_wedge_driver_test_lidar" output="screen" required="true" />

    <!-- 如果 use_rviz 参数为 true，则启动 RViz -->
    <group if="$(arg use_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find double_wedge_driver)/config/inno_lidar_rviz.rviz" />
    </group>
</launch>
